<!DOCTYPE html>
<html>
<head>
  <title>Next Buses</title>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Signika:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/main.css">
  <script src="static/main.js"></script>
</head>
<body>

  <div class="row">
    <div class="column">
      <h1>Next Departures</h1>
      <p><span id="last-updated">{{ last_updated }}</span></p>
    </div>
    <div class="column">
      <img class="logo" src="static/translink.svg" alt="TransLink">
    </div>
  </div>

  <table>
    <tbody id="bus-table-body">
      <!-- Rows will be inserted here -->
    </tbody>
  </table>
</body>
</html>
